body {
	background: url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;

}
h1 {
color: white;
font-size: 50px;
font-weight: normal;
margin-bottom: 0;
}
h2 {
	color: white;
	font-size: 25px;
	margin-top: 0
}
.bio {
	color: white;
	font-size: 20px;
	text-align: center;
	padding-right: 200px;
	padding-left: 200px;

}
.me {
	height: 150px;
	border-radius: 20%;
	border-style: solid;
	border-color: white;
	margin: 40px auto;
}